@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "微软雅黑";
}
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 0.46rem;
    background: rgba(0,0,0,0.3);
    position: absolute;
    z-index: 3;
    .head {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        div:nth-of-type(1) {
            width: 18%;
            img {
                display: block;
                width: 50%;
                margin-left: 0.1rem;
            }
        }
        div:nth-of-type(2) {
            width: 56%;
            background: #EEEEEE;
            height: 0.3rem;
            display: flex;
            align-items: center;
            border-radius: 0.1rem;
            img {
                width: 10%;
                margin-left: 0.1rem;
            }
            input {
                display: flex;
                text-align: center;
                width: 1rem;
                border: none;
                margin-left: 0.1rem;
                background: #EEEEEE;
                outline: none;
            }
        }
        div:nth-of-type(3) {
            width: 25%;
            height: 0.46rem;
            display: flex;
            align-items: center;
            img {
                width: 30%;
                margin-left: 0.1rem;
            }
            p {
                font-size: 0.14rem;
            }
        }
    }
}
aside {
    flex-grow: 1;
    overflow: auto;
    .lunbo {
        width: 100%;
        height: 1.56rem;
        .lb {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
            .swiper-pagination {
                top: 0.4rem;
            }
        }
    }
    .fy {
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 20%;
                margin-top: 0.1rem;
                a {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 70%;
                    }
                    p {
                        font-size: 0.14rem;
                        margin: 0.06rem 0;
                        color: #5e5e5e;
                    }
                }
            }
        }
    }
    .nr {
        width: 100%;
        height: 2rem;
        background: white;
        border-top: 1px solid #f8f8f8;
        display: flex;
        .left {
            width: 40%;
            height: 100%;
            border-right: 1px solid #F8F8F8;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img1 {
                width: 80%;
            }
            .time {
                width: 100%;
                height: 0.4rem;
                text-align: center;
                h1 {
                    font-size: 0.12rem;
                    height: 0.14;
                    font-weight: 100;
                    color: #CCCCCC;
                }
                p {
                    width: 100%;
                    height: 0.24rem;
                    display: flex;
                    align-items: center;
                    font-size: 0.12rem;
                    box-sizing: border-box;
                    padding-left: 0.1rem;
                    span {
                        width: 0.24rem;
                        height: 0.14rem;
                        background: black;
                        font-size: 0.12rem;
                        margin-left: 0.02rem;
                        color: white;
                        text-align: center;
                        line-height: 0.14rem;
                        border-radius: 0.04rem;
                    }
                }
            }
            .img2 {
                width: 80%;
            }
        }
        .right {
            width: 59%;
            .top {
                width: 100%;
                height: 0.8rem;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #F8F8F8;
                li:nth-of-type(1) {
                    width: 50%;
                    text-align: center;
                    h2 {
                        font-size: 0.18rem;
                        color: palegreen;
                    }
                    p {
                        font-size: 0.14rem;
                        color: #121212;
                    }
                }
                li:nth-of-type(2) {
                    width: 50%;
                    img {
                        width: 80%;
                    }
                }
            }
            .bottom {
                width: 100%;
                height: 60%;
                display: flex;
                li {
                    width: 33%;
                    p {
                        font-size: 0.12rem;
                        margin-left: 0.04rem;
                    }
                    img {
                        width: 80%;
                        display: flex;
                        margin-top: 0.1rem;
                    }
                }
            }
        }
    }
    .nrr {
        width: 100%;
        height: 0.84rem;
        background: #F8F8F8;
        display: flex;
        align-items: center;
        .left {
            width: 40%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 80%;
                display: flex;
                margin-top: 0.1rem;
            }
            p {
                font-size: 0.14rem;
            }
        }
        .right {
            width: 60%;
            height: 100%;
            display: flex;
            li {
                width: 33%;
                img {
                    width: 80%;
                    display: flex;
                    margin-top: 0.1rem;
                }
            }
        }
    }
}
footer {
    width: 100%;
    height: 0.46rem;
    background: white;
    .foot {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        li {
            width: 20%;           
            a {
                width: 100%;
                 display: flex;
            flex-direction: column;
            align-items: center;
                p {
                    font-size: 0.14rem;
                }
                img {
                    display: flex;
                    width: 40%;
                }
            }
        }
    }
}